<div class="columns">
  <div class="column">
    <article class="message has-background-black">
      <div class="message-header has-background-black">
        Location
      </div>
      <div class="message-body has-text-white">
        {{title}}
      </div>
    </article>
  </div>
  <div class="column">
    <article class="message has-background-black">
      <div class="message-header has-background-black">
        Weather
      </div>
      <div class="message-body has-text-white">
        <p>
          {{weather}}
        </p>
      </div>
    </article>
  </div>
  <div class="column">
    <article class="message has-background-black">
      <div class="message-header has-background-black">
        Temperature
      </div>
      <div class="message-body has-text-white">
        <p>
          {{tempC}}
          °C
          <br />
          {{tempF}}
          °F
        </p>
      </div>
    </article>
  </div>
  <div class="column">
    <article class="message has-background-black">
      <div class="message-header has-background-black">
        Wind
      </div>
      <div class="message-body has-text-white">
        <p>
          {{beaufort}}
          bft
          <br />
          {{windDirection}}
          <br />
          Feels like
          {{windChill}}
          °C
        </p>
      </div>
    </article>
  </div>
  <div class="column">
    <article class="message has-background-black">
      <div class="message-header has-background-black">
        Pressure
      </div>
      <div class="message-body has-text-white">
        <p>
          {{pressure}}
          hpa
        </p>
      </div>
    </article>
  </div>
</div>