<div class="ui segment" id="map" style="height: 350px;"></div>

<script>
  let map = L.map('map')
  let openStreetMapLayer = L.tileLayer(
    'https://tile.openstreetmap.org/{z}/{x}/{y}.png', 
    { maxZoom: 15, attribution: '© OpenStreetMap' }
  );
  openStreetMapLayer.addTo(map);

  let marker;
  let avgLat = avgLng = 0;
  {{#each stations}}
    marker = L.marker([{{latitude}}, {{longitude}}], {title: "{{title}}"});
    marker.bindPopup(`<a href="/station/{{_id}}">{{title}}</a>`);
    marker.addTo(map);

    avgLat += {{latitude}};
    avgLng += {{longitude}};
  {{/each}}

  avgLat /= {{stations.length}};
  avgLng /= {{stations.length}};

  map.setView([avgLat, avgLng], 7);
</script>