<table class="table is-striped mt-5">
    <thead>
    <tr>
        <th>Date/Time</th>
        <th>Weather Code</th>
        <th>Temperature</th>
        <th>Wind Speed/Chill</th>
        <th>Wind Direction</th>
        <th>Pressure</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    {{#each readings}}
      <tr>
        <td>
          
        </td>
        <td>
          {{code}}
        </td>
        <td>
          {{temperature}}
        </td>
        <td>
          {{windSpeed}}
        </td>
        <td>
          {{windDirection}}
        </td>
        <td>
          {{pressure}}
        </td>
        <td>
          <a id="delete" data-link="/station/${_station.id}/delete/${reading.id}">
            <div class="buttons">
              <button class="button is-danger">Delete</button>
            </div>
          </a>
        </td>
    </tr>
    {{/each}}
  </tbody>
</table>