<table class="table is-striped mt-5">
  <thead>
    <tr>
      <th>Date/Time</th>
      <th>Weather Code</th>
      <th>Temperature</th>
      <th>Wind Speed</th>
      <th>Wind Direction</th>
      <th>Pressure</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    {{#each readings}}
      <tr>
        <td>
          {{timestamp}}
        </td>
        <td>
          {{code}}<br>
          {{weatherCodeToCondition code}}
        </td>
        <td>
          {{temperature}} 째C <br>
          {{celsiusToFahrenheit temperature}} 째F
        </td>
        <td>
          {{windSpeed}} kmh | <span
                title="{{beaufortDescription}}">{{kmhToBeaufort windSpeed}} bft</span><br>
          {{calculateWindChill temperature windSpeed}} 째C
        </td>
        <td>
          {{windDirection}} 째<br>
          {{windDirectionToCompass windDirection}}
        </td>
        <td>
          {{pressure}}
        </td>
        <td>
          <a id="delete" data-link="/station/{{stationId}}/delete/{{_id}}">
            <div class="buttons">
              <button class="button is-danger">Delete</button>
            </div>
          </a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>