{{> menu active="dashboard"}}

<iframe width="100%" height="350" style="border: #ffffff" src="https://www.openstreetmap.org/export/embed.html?
bbox={{subtract longitude 0.005}}%2C{{subtract latitude 0.005}}%2C{{add longitude 0.005}}%2C{{add latitude 0.005}}
&amp;layer=mapnik&amp;
marker={{latitude}}%2C{{longitude}}">
</iframe>

{{> flash-messages}}

{{> add-reading}}

<div class="content box">
    {{#if readings}}
        {{> card-readings}}
        {{> list-readings}}
    {{else}}
        <p>You have no readings yet. Add one!</p>
    {{/if}}
    
</div>

<dialog id="confirmDeleteDialog">
    <p class="title">Are you sure you want to delete this reading?</p>
    <div class="has-text-centered">
        <form id="deleteForm" method="POST" action="">
            <button class="button is-danger" id="confirmDelete" type="submit">Yes, delete</button>
        </form>
        <button class="button is-light" id="cancelDelete">No, cancel</button>
    </div>
</dialog>